@import 'helpers';

.noscroll {
  overflow: hidden;
}

.quick-view {
  display: none;
  position: fixed;
  background: rgba(0,0,0,.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  padding: 30px 60px;
}

.quick-view--loading {
  display: block;

  &::after {
    content: 'Loading...';
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
  }
}

.quick-view--shown {
  display: block;
}

.quick-view-nav {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 60px;
  align-items: center;
  justify-content: center;
}

.quick-view-nav--prev {
  left: 0;
}

.quick-view-nav--next {
  right: 0;
}