@import 'helpers';
@import '~components/product/style';
@import '~components/gallery/style';

.noscroll {
  overflow: hidden;
}

.quick-view {
  display: none;
  position: fixed;
  background: rgba(0,0,0,.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  padding: 10px 20px;

  @media screen and (min-width: 768px) {
    padding: 30px 60px;
  }
}

.quick-view--loading {
  display: block;

  &::after {
    content: 'Loading...';
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
  }
}

.quick-view--shown {
  display: block;
}

.quick-view__container {
  background: green;
  padding: 32px 16px 0;
  position: relative;
}

.quick-view-close {
  display: block;
  top: 4px;
  right: 16px;
  position: absolute;
  text-decoration: none;
  font-size: 32px;
  color: #999;
  z-index: 1000;

  &:hover {
    color: #555;
  }
}

.quick-view-nav {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;

  &::after {
    display: block;
    content: '>';
    width: 90%;
  }

  &:hover {
    background: rgba(255,255,255,.2);
  }

  @media screen and (min-width: 768px) {
    width: 60px;
  }

  span {
    display: none;
  }
}

.quick-view-nav--prev {
  left: -20px;

  &::after {
    display: block;
    content: '<';
    width: 90%;
  }

  @media screen and (min-width: 768px) {
    left: -60px;
  }
}

.quick-view-nav--next {
  right: -20px;
  @media screen and (min-width: 768px) {
    right: -60px;
  }
}


.loading::after {
  display: block;
  position: fixed;
  background: #ff0;
  width: 200px;
  height: 200px;
  top: 100px;
  right: 100px;
  z-index: 2;
  content: '';
}