.quick-view {
  display: flex;
  flex-wrap: wrap;
}
.quick-view__picture {
  flex: 2;
}

.quick-view__image {
  max-width: 100%;
}

.quick-view__description {
  flex: 1 0 100%;
}

.quick-view__info {
  flex: 1;
}
